<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">/opt/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MMM/yyyy HH:mm:ss.SSS}- %c{1}: %m%n"/>
        </Console>
        <RollingFile name="tasks" fileName="${log-path}/online-mobile-application.log"
                     filePattern="${log-path}/online-mobile-application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss.SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${log-path}" maxDepth="1">
                    <IfAll>
                        <IfFileName glob="online-mobile-application*"/>
                        <IfLastModified age="5d"/>
                    </IfAll>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <logger name="org.hibernate" level="ERROR"/>
        <logger name="com.test.book.online_mobile_application" level="debug"/>
        <Root level="ERROR">
            <AppenderRef ref="tasks" level="debug"/>
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>